/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/* Jetpack Mailchimp Block */
.sponsor-label .flag {
  background: var(--newspack-theme-color-highlight);
  color: var(--newspack-theme-color-text-main);
  line-height: 1;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
}