/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/* Jetpack Mailchimp Block */
.sponsor-label {
  align-items: stretch;
  display: inline-flex;
  margin-left: 0.5rem;
  position: relative;
}
.sponsor-label button {
  align-items: center;
  background: transparent;
  color: #515151;
  display: inline-flex;
  margin-right: 0.15rem;
  padding: 0;
  position: relative;
}
.sponsor-label button::after {
  border-color: transparent transparent rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 0 8px 8px 8px;
  display: block;
  content: "";
  height: 0;
  opacity: 0;
  position: absolute;
  top: calc(100% - 3px);
  width: 0;
}
.sponsor-label::before, .sponsor-label::after,
.sponsor-label + .cat-links::before,
.sponsor-label + .cat-links::after {
  display: none;
}

/* stylelint-disable selector-type-no-unknown  */
.sponsor-label .flag,
amp-script .sponsor-label .flag {
  background: #fed850;
  color: #111;
  line-height: 1;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
}

/* stylelint-enable */
.sponsor-info {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #fff;
  font-size: 90%;
  font-weight: normal;
  right: -9999em;
  letter-spacing: 0;
  line-height: 1.6;
  opacity: 0;
  padding: 0.75rem 1rem;
  position: absolute;
  transition: opacity 0.2s;
  text-transform: none;
  top: calc(100% + 5px);
  width: 300px;
  z-index: 5;
}

.sponsor-label .sponsor-info a,
.sponsor-label .sponsor-info a:visited {
  color: #fff;
  text-decoration: underline;
}
.sponsor-label .sponsor-info a:hover {
  opacity: 0.8;
}

.show-info .sponsor-info,
.show-info button::after {
  right: 0;
  opacity: 1;
}

.sponsor-logos {
  align-items: center;
  display: inline-flex;
  line-height: 1;
  margin-left: 0.25rem;
}
@media only screen and (min-width: 600px) {
  .sponsor-logos {
    border-left: 1px solid #ccc;
    margin: 0 0 0 0.75rem;
  }
}
.sponsor-logos > * {
  margin-left: 0.75rem;
}

.entry-sponsor {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.sponsor-byline .author {
  font-weight: bold;
}

/* Single Posts */
.single .sponsor-byline > span:first-child {
  display: inline;
}
.single.sponsors-show-cats .sponsor-label {
  display: inline-flex;
}
.single .sponsor-label + .cat-links {
  display: inline-block;
}
.single.sponsors-show-authors .entry-subhead {
  flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {
  .single.sponsors-show-authors .entry-subhead .sponsor-logos {
    border-left: 0;
    margin-left: 0;
  }
}
.single.sponsors-show-authors .entry-subhead .sponsor-byline {
  font-size: 0.8em;
}
@media only screen and (min-width: 1168px) {
  .single.sponsors-show-authors .entry-subhead .sponsor-byline > span:first-child {
    display: block;
  }
}
.single.sponsors-show-authors .entry-subhead .sponsor-byline .author {
  color: inherit;
  font-weight: normal;
}
.single .entry-meta + .entry-sponsor {
  flex-grow: 0;
  margin-left: 1rem;
}
@media only screen and (max-width: 1167px) {
  .single .entry-meta + .entry-sponsor {
    order: 10;
    margin-top: 1rem;
    width: 100%;
  }
}
.single .entry-meta + .entry-sponsor + .sharedaddy {
  margin-top: 1rem;
}
@media only screen and (min-width: 1168px) {
  .single .entry-meta + .entry-sponsor + .sharedaddy {
    border-right: 1px solid #ccc;
    margin-top: 0;
    padding-right: 1rem;
  }
}
.single.single-featured-image-default .sponsor-byline {
  margin-left: 0;
}

.featured-image-beside .entry-sponsor,
.featured-image-behind .entry-sponsor {
  align-items: center;
}
.featured-image-beside .sponsor-byline,
.featured-image-behind .sponsor-byline {
  color: inherit;
}

.featured-image-behind .sponsor-info {
  background: rgba(0, 0, 0, 0.95);
}
.featured-image-behind .sponsor-label button {
  color: inherit;
}
.featured-image-behind .sponsor-label button ::after {
  border-bottom-color: rgba(0, 0, 0, 0.95);
}
.featured-image-behind .entry-meta + .entry-sponsor .byline {
  margin-left: 0;
}

.featured-image-beside .entry-meta + .entry-sponsor + .sharedaddy {
  border: 0;
  padding: 0;
}
@media only screen and (min-width: 782px) {
  .featured-image-beside .sponsor-label button {
    color: inherit;
  }
  .featured-image-beside .sponsor-logos {
    border: 0;
  }
}

.single:not(.sponsors-show-authors) .featured-image-beside .posted-on {
  display: block;
}

.sponsor-bio .avatar {
  height: auto;
  text-align: center;
  width: 20%;
}
.sponsor-bio h2 {
  margin-top: 0;
}
.sponsor-bio h2 a {
  text-decoration: none;
}

.sponsors-show-authors .sponsor-bio {
  border: solid #ccc;
  border-width: 2px 0 1px;
  padding: 1rem 0;
}
.sponsors-show-authors .sponsor-bio + .sponsor-bio {
  border-top: 0;
  margin-top: -32px;
}
.sponsors-show-authors .sponsor-bio h2 {
  color: inherit;
  font-size: 0.8em;
  border: 0;
  margin: 0;
  padding: 0;
}
.sponsors-show-authors .sponsor-bio h2::before, .sponsors-show-authors .sponsor-bio h2::after {
  display: none;
}

.search article .sponsor-logos,
.archive article .sponsor-logos,
.blog article .sponsor-logos {
  display: none;
}
.search article .sponsor-label,
.archive article .sponsor-label,
.blog article .sponsor-label {
  display: inline-flex;
  font-size: 65%;
}

.search article .sponsor-label + .cat-links {
  display: inline-block;
}

.sponsor-label + .page-title::before, .sponsor-label + .page-title::after,
.sponsor-label + .page-title .page-subtitle {
  display: none;
}

@media only screen and (min-width: 600px) {
  .sponsor-archive {
    display: flex;
  }
  .sponsor-archive .entry-meta,
  .sponsor-archive .author {
    display: block;
  }
}
@media only screen and (min-width: 1168px) {
  .sponsor-archive {
    align-items: center;
  }
}
.sponsor-archive .details {
  align-items: center;
  display: flex;
}
@media only screen and (min-width: 600px) {
  .sponsor-archive .details {
    display: block;
    flex-shrink: 0;
    margin-left: 1.5rem;
  }
}
.sponsor-archive .details img {
  margin: 0 0 1rem 1rem;
}
@media only screen and (min-width: 600px) {
  .sponsor-archive .details img {
    margin: 0;
  }
}
.sponsor-archive .info {
  font-size: 90%;
  text-align: right;
}
.sponsor-archive .info > *:first-child {
  margin-top: 0;
}
.sponsor-archive .info > *:last-child {
  margin-bottom: 0;
}
.sponsor-archive + .sponsor-archive {
  margin-top: 1.5rem;
}

.sponsored-archive article .sponsor-label {
  display: none;
}

.sponsor-uw-info {
  align-items: center;
  background: #eee;
  border: 1px solid #ccc;
  border-right: 4px solid #36f;
  display: flex;
  font-size: 80%;
  padding: 1rem;
}
.sponsor-uw-info .logo {
  flex-shrink: 0;
  margin-left: 1.5rem;
}
.sponsor-uw-info .info {
  font-style: italic;
}
.sponsor-uw-info .info > *:first-child {
  margin-top: 0;
}
.sponsor-uw-info .info > *:last-child {
  margin-bottom: 0;
}

/* stylelint-disable selector-type-no-unknown */
.wpnbha .sponsor-logos,
amp-script .wpnbha .sponsor-logos,
.wpnbpc .sponsor-logos,
amp-script .wpnbpc .sponsor-logos {
  border: 0;
  margin: 0;
}
.wpnbha .sponsor-logos > *,
amp-script .wpnbha .sponsor-logos > *,
.wpnbpc .sponsor-logos > *,
amp-script .wpnbpc .sponsor-logos > * {
  margin: 0;
}

/* stylelint-enable */
.wpnbpc .sponsor-byline {
  color: #fff;
}