body {
  --wp--preset--spacing--50: clamp( 1.25rem, 1rem + 0.8333vw, 1.5rem );
  --wp--preset--spacing--60: clamp( 1.5rem, 0.75rem + 2.5vw, 2.25rem);
  --wp--preset--spacing--70: clamp( 1.75rem, 0.12rem + 5.4333vw, 3.38rem);
  --wp--preset--spacing--80: clamp( 2rem, -1.06rem + 10.2vw, 5.06rem);
}

/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/* Jetpack Mailchimp Block */
body {
  --wp--preset--spacing--50: clamp( 1.25rem, 1rem + 0.8333vw, 1.5rem );
  --wp--preset--spacing--60: clamp( 1.5rem, 0.75rem + 2.5vw, 2.25rem);
  --wp--preset--spacing--70: clamp( 1.75rem, 0.12rem + 5.4333vw, 3.38rem);
  --wp--preset--spacing--80: clamp( 2rem, -1.06rem + 10.2vw, 5.06rem);
}

/*!
 * Newspack Theme Editor Overrides
 *
 * This CSS files contains Gutenberg editor styles that need to reference classes on the body tag.
 */
/** === Includes === */
/** === Default Template === */
@media only screen and (min-width: 600px) {
  body.newspack-default-template .block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
    margin-left: auto;
    margin-right: auto;
  }
}
/** === One Column Templates === */
@media only screen and (min-width: 1168px) {
  body.newspack-single-column-template .wp-block[data-align=wide] {
    max-width: 1230px;
  }
}
/** === One-Column Template === */
body.newspack-single-column-template .wp-block-column.wp-block {
  max-width: 100%;
}

/** === Wide Templates === */
body.newspack-static-front-page .wp-block,
body.newspack-single-wide-template .wp-block {
  max-width: 1230px;
}
body.newspack-static-front-page .wp-block[data-align=wide],
body.newspack-single-wide-template .wp-block[data-align=wide] {
  max-width: 1430px;
}
body.newspack-static-front-page .wp-block[data-type="core/group"][data-align=wide] .wp-block:not([data-align=wide]):not([data-align=full]),
body.newspack-static-front-page .wp-block[data-type="core/group"][data-align=full] .wp-block:not([data-align=wide]):not([data-align=full]),
body.newspack-single-wide-template .wp-block[data-type="core/group"][data-align=wide] .wp-block:not([data-align=wide]):not([data-align=full]),
body.newspack-single-wide-template .wp-block[data-type="core/group"][data-align=full] .wp-block:not([data-align=wide]):not([data-align=full]) {
  max-width: 1230px;
}
body.newspack-static-front-page .wp-block[data-type="core/group"][data-align=wide] .wp-block[data-align=wide],
body.newspack-static-front-page .wp-block[data-type="core/group"][data-align=full] .wp-block[data-align=wide],
body.newspack-single-wide-template .wp-block[data-type="core/group"][data-align=wide] .wp-block[data-align=wide],
body.newspack-single-wide-template .wp-block[data-type="core/group"][data-align=full] .wp-block[data-align=wide] {
  max-width: 1430px;
}
body.newspack-static-front-page figcaption,
body.newspack-static-front-page .swiper-pagination-simple,
body.newspack-single-wide-template figcaption,
body.newspack-single-wide-template .swiper-pagination-simple {
  max-width: 1230px;
}
body.newspack-static-front-page .wp-block-column,
body.newspack-static-front-page .wp-block-column .wp-block,
body.newspack-single-wide-template .wp-block-column,
body.newspack-single-wide-template .wp-block-column .wp-block {
  max-width: 100%;
}

/** === Wide Blocks === */
body.newspack-static-front-page .wp-block[data-align=full],
body.newspack-single-wide-template .wp-block[data-align=full],
body.newspack-single-column-template .wp-block[data-align=full] {
  max-width: 100vw;
  width: auto;
}
body.newspack-static-front-page .wp-block[data-align=full] .wp-block-group:not(.has-background):not(.is-style-border),
body.newspack-single-wide-template .wp-block[data-align=full] .wp-block-group:not(.has-background):not(.is-style-border),
body.newspack-single-column-template .wp-block[data-align=full] .wp-block-group:not(.has-background):not(.is-style-border) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
body.newspack-static-front-page .wp-block[data-align=left],
body.newspack-single-wide-template .wp-block[data-align=left],
body.newspack-single-column-template .wp-block[data-align=left] {
  position: relative;
}
@media only screen and (min-width: 1168px) {
  body.newspack-static-front-page .wp-block[data-align=left],
  body.newspack-single-wide-template .wp-block[data-align=left],
  body.newspack-single-column-template .wp-block[data-align=left] {
    left: -1rem;
  }
}
@media only screen and (min-width: 1379px) {
  body.newspack-static-front-page .wp-block[data-align=left],
  body.newspack-single-wide-template .wp-block[data-align=left],
  body.newspack-single-column-template .wp-block[data-align=left] {
    left: -2rem;
  }
}
@media only screen and (min-width: 782px) {
  body.newspack-static-front-page .wp-block[data-align=left] > .wp-block-image,
  body.newspack-single-wide-template .wp-block[data-align=left] > .wp-block-image,
  body.newspack-single-column-template .wp-block[data-align=left] > .wp-block-image {
    margin-right: 0;
  }
}
body.newspack-static-front-page .wp-block .wp-block[data-align=left],
body.newspack-single-wide-template .wp-block .wp-block[data-align=left],
body.newspack-single-column-template .wp-block .wp-block[data-align=left] {
  left: auto;
}
body.newspack-static-front-page .wp-block[data-align=right],
body.newspack-single-wide-template .wp-block[data-align=right],
body.newspack-single-column-template .wp-block[data-align=right] {
  position: relative;
}
@media only screen and (min-width: 1168px) {
  body.newspack-static-front-page .wp-block[data-align=right],
  body.newspack-single-wide-template .wp-block[data-align=right],
  body.newspack-single-column-template .wp-block[data-align=right] {
    right: -2rem;
  }
}
@media only screen and (min-width: 1379px) {
  body.newspack-static-front-page .wp-block[data-align=right],
  body.newspack-single-wide-template .wp-block[data-align=right],
  body.newspack-single-column-template .wp-block[data-align=right] {
    right: -4rem;
  }
}
@media only screen and (min-width: 782px) {
  body.newspack-static-front-page .wp-block[data-align=right] > .wp-block-image,
  body.newspack-single-wide-template .wp-block[data-align=right] > .wp-block-image,
  body.newspack-single-column-template .wp-block[data-align=right] > .wp-block-image {
    margin-left: 0;
  }
}
body.newspack-static-front-page .wp-block .wp-block[data-align=right],
body.newspack-single-wide-template .wp-block .wp-block[data-align=right],
body.newspack-single-column-template .wp-block .wp-block[data-align=right] {
  right: auto;
}

/** === Single Posts === */
body.post-type-post .editor-post-title__block,
body.post-type-post .edit-post-visual-editor__post-title-wrapper,
body.post-type-post .editor-styles-wrapper h1.wp-block-post-title {
  max-width: 1200px;
}
body.post-type-post .edit-post-visual-editor__post-title-wrapper {
  margin-left: auto;
  margin-right: auto;
}
body.post-type-post .editor-post-title__block .editor-post-title__input,
body.post-type-post .editor-styles-wrapper h1.wp-block-post-title {
  font-size: var(--newspack-theme-font-size-xl);
}
@media only screen and (min-width: 600px) {
  body.post-type-post .editor-post-title__block .editor-post-title__input,
  body.post-type-post .editor-styles-wrapper h1.wp-block-post-title {
    font-size: var(--newspack-theme-font-size-xxl);
  }
}
@media only screen and (min-width: 782px) {
  body.post-type-post .editor-post-title__block .editor-post-title__input,
  body.post-type-post .editor-styles-wrapper h1.wp-block-post-title {
    font-size: var(--newspack-theme-font-size-xxxl);
  }
}
@media only screen and (min-width: 1168px) {
  body.post-type-post .editor-post-title__block .editor-post-title__input,
  body.post-type-post .editor-styles-wrapper h1.wp-block-post-title {
    font-size: var(--newspack-theme-font-size-xxxxl);
  }
}

/** === Post Meta Toggles === */
.components-panel__row.newspack__post-meta-toggles {
  flex-direction: column;
}
.components-panel__row.newspack__post-meta-toggles > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.components-panel__row.newspack__post-meta-toggles > div + div {
  margin-top: 1rem;
}